@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33333333;
  color: #333333;
  background-color: #ffffff;
}

body .row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body .row img {
  display: inline;
  padding: 10px;
  width: 45%;
}

.videocontainer {
  position: relative;
  width: 500px;
  height: 281px;
  margin-left: auto;
  margin-right: auto;
}

.videocontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  text-align: center;
}

@media (max-width: 449px) {
  .videocontainer {
    width: 300px;
    height: 169px;
  }
}
@media (min-width: 450px) and (max-width: 599px) {
  .videocontainer {
    width: 400px;
    height: 225px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .videocontainer {
    width: 500px;
    height: 281px;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  .videocontainer {
    width: 600px;
    height: 338px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .videocontainer {
    width: 800px;
    height: 450px;
  }
}

@media (min-width: 1200px) {
  .videocontainer {
    width: 1000px;
    height: 563px;
  }
}
